html {
    background: rgb(57, 77, 89)
}

#App {
    text-align: center;
    margin: 5% 30% 0 30%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

#letter-board-5 {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px 60px;
    gap: 5px;
    border-radius: 35px;
    position: relative;
    width: 325px;
    height: 325px;
    background: #dee0e3;
    padding: 13px;
    box-shadow: inset -2px -3px 8px #fff, inset 2px 3px 8px rgba(0,0,0,.3)
}

.letter-tile-5 {
    padding: 2px;
    text-align: center;
    box-shadow: -4px -4px 8px rgb(255 255 255 / 70%), 4px 4px 8px rgb(0 0 0 / 40%);
    border-radius: 15px;
}

    .letter-tile-5 span {
        display: block;
        font-weight: bold;
        line-height: 1.5;
        width: 100%;
        height: 100%;
        font-size: 35px;
        border-radius: 40px;
        background: rgba(255,255,255,.5);
    }

#letter-board-6 {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    gap: 5px;
    border-radius: 35px;
    position: relative;
    width: 325px;
    height: 325px;
    background: #dee0e3;
    padding: 13px;
    box-shadow: inset -2px -3px 8px #fff, inset 2px 3px 8px rgba(0,0,0,.3)
}

.letter-tile-6 {
    padding: 2px;
    text-align: center;
    box-shadow: -4px -4px 8px rgb(255 255 255 / 70%), 4px 4px 8px rgb(0 0 0 / 40%);
    border-radius: 15px;
}

    .letter-tile-6 span {
        display: block;
        font-weight: bold;
        line-height: 1.5;
        width: 100%;
        height: 100%;
        font-size: 30px;
        border-radius: 40px;
        background: rgba(255,255,255,.5);
    }

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
